@charset "UTF-8";

body{
    background-color: white;
    font-family:Arial;
}

h1,h2{
    color:#7B435B;
	text-align: center;
}

#login {
    color:#7B435B;
	text-align: center;
}

#register{
	color: #7B435B;
	text-align:center;	
}


#loginBox{
	background-color:#BCF8EC;
	width: 300px;
	height: 200px;
	padding:10px;
	/* Center the box */
	margin: 0 auto;
  	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	
	animation-name: slideFromLeft;
	animation-duration: 1s;
	
}


#registerBox{
	background-color:#BCF8EC;
	width: 300px;
	height: 400px;
	padding:10px 20px;
	/* Center the box */
	margin: 0 auto;
  	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	animation-name: slideFromRight;
	animation-duration: 1s;
	
	transition: top ease 0.5s;
}

#logOutButton{
	
	text-align:right;
	margin-right: 50px;
	margin-top:-50px;
	
	
}

h1{
	animation-name: slideFromTop;
	animation-duration: 1s;
}

@keyframes slideFromLeft{
	
  0% { transform: translateX(-900px);}
  100% {transform: translateX(0);}
	
}

@keyframes slideFromRight{
	
  0% { transform: translateX(900px);}
  100% {transform: translateX(0);}	
	
}

@keyframes slideFromTop{
  0% { transform: translateY(-100px);}
  100% {transform: translateY(0);}		
}


